html {
  color: #eee;
  padding: 0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
  width: 100%;
  height: 100%;
}

body {
  object-fit: cover;
  background-image: url(../img/bg.jpg);
  width: 100%;
  height: 100%;
  margin: 0;
}

section.main{
  padding: 3rem;
  width: 400px;
  color: darkorange;
}

.main h1{
  font-size: 3rem;
  background: black;
  padding: 1rem;
  color: white;
}


